<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title></title>

    <style>
      .body { font-family: "Segoe UI"; padding: 50px; } .card { border: 1px
      solid rgb(210, 211, 224); border-radius: 5px; padding: 35px; width: 500px;
      margin-left: auto; margin-right: auto; } img { width: 50px; } button {
      background-color: rgb(87, 91, 199); border: 1px solid rgb(87, 91, 199);
      color: white; padding: 10px; border-radius: 5px; font-weight: bold;
      margin-bottom: 15px; margin-top: 5px; } span { margin-top: 15px; color:
      grey; } a:hover { cursor: pointer; } button:hover { cursor: pointer; } p {
      color: grey; }
    </style>
  </head>

  <body class='body'>
    <div class='card'>
      <p>Hello,</p>
      <p>{{text}}</p>
      <span>Your account Information is successfully saved to the system. You can login as an amdin after super admin approval.</span>
    </div>
  </body>

</html>