<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification</title>

  <style>
    .body {
      font-family: "Segoe UI", sans-serif;
      padding: 50px;
    }

    .card {
      border: 1px solid #d2d3e0;
      border-radius: 5px;
      padding: 35px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      width: 50px;
    }

    button {
      background-color: #575bc7;
      border: 1px solid #575bc7;
      color: white;
      padding: 10px;
      border-radius: 5px;
      font-weight: bold;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    span {
      margin-top: 15px;
      color: grey;
    }

    a:hover {
      cursor: pointer;
    }

    button:hover {
      cursor: pointer;
    }

    p {
      color: grey;
    }
  </style>
</head>

<body class="body">
  <div class="card">
    <h2>OTP Verification</h2>
    <p>
      Your One-Time Password (OTP) for verification is: <strong>{{text}}</strong>
    </p>
    <p>Enter this OTP in the provided field to complete the verification process.</p>
    <hr>
    <span>NoboShop</span>
  </div>
</body>

</html>
